*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.nav-bar{
    display: flex;
   justify-content: center;
   align-items:center;
    padding: 10px 10px;
    width:100%;
}

.logo-image{
    width:20%;
}

.menu{
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.list-container{
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    align-items: center;
}

.nav-list{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #000000;
    font-size: large;
    font-weight: bold;
}

.nav-link:hover{
    color: #ff914d;
}


